@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,500&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #352F44;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
main div{
  display: flex;
  flex-direction: row;
}
p{
  font-family: 'Roboto', sans-serif;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-size: 4vmin;
  color: #FAF0E6;
  background-color: #5C5470;
}
textarea{
  font-family: 'Roboto', sans-serif;
  resize: none;
  width: 50%;
  height: 20%;
  font-size: 4vmin;
  border-radius: 2vmin;
  padding: 1vmin;
  color: #FAF0E6;
  background-color: #5C5470;
}
button{
  font-family: 'Roboto', sans-serif;
  margin: 1vmin;
  border-radius: 2vmin;
  padding: 0.5vmin;
  font-size: 4vmin;
  color: #FAF0E6;
  background-color: #5C5470;
}
h2{
	color: red;
}
.textDiv{
  background-color: #5C5470;
  border-radius: 2vmin;
  padding: 1vmin;
}
.allTasks{
  margin: 1vmin;
  padding: 0.5vmin;
}
